@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import "styles/components/status.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hive {
    /* background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='59.428' patternTransform='scale(3) rotate(25)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(221, 39%, 11%, 1)'/><path d='M0 70.975V47.881m20-1.692L8.535 52.808v13.239L20 72.667l11.465-6.62V52.808zm0-32.95l11.465-6.62V-6.619L20-13.24 8.535-6.619V6.619L20 13.24m8.535 4.927v13.238L40 38.024l11.465-6.62V18.166L40 11.546zM20 36.333L0 47.88m0 0v23.094m0 0l20 11.548 20-11.548V47.88m0 0L20 36.333m0 0l20 11.549M0 11.547l-11.465 6.619v13.239L0 38.025l11.465-6.62v-13.24L0 11.548v-23.094l20-11.547 20 11.547v23.094M20 36.333V13.24'  stroke-linecap='square' stroke-width='0.5' stroke='hsla(0, 0%, 100%, 0.13)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")

     */
    background-color: #08090B;

}
/* Global font settings */
html, body {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Ensure all text elements inherit these styles */
a, p, h1, h2, h3, h4, h5, h6, strong {
    font-family: inherit;
    font-optical-sizing: inherit;
    font-weight: inherit;
    font-style: inherit;
}

@layer components {
    h1 {
        @apply text-4xl font-bold;
    }
    h2 {
        @apply text-3xl font-semibold;
    }
    h3 {
        @apply text-2xl font-medium;
    }
    h4 {
        @apply text-xl font-medium;
    }
    h5 {
        @apply text-lg font-medium;
    }
    h6 {
        @apply text-base font-medium;
    }
}

/* Optional: Customize headings or strong elements separately if needed */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600; /* Optional stronger font-weight for headings */
}

strong {
    font-weight: 700; /* Optional bolder font-weight for strong text */
}

[contenteditable=true]:empty:before{
    content: attr(placeholder);
    color: #5c636a;
    pointer-events: none;
    display: block; /* For Firefox */
}

.course-management {
    padding: 20px;
}

.course-category {
    margin-bottom: 20px;
}

.droppable-area {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 8px;
}

.course-content {
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}


   .quill > * {
       border-color: inherit !important;
       color: inherit !important;
   }
.quill > .ql-toolbar {
    /* border radius of the toolbar */
    border-radius: 10px 10px 0 0;
}
.quill > .ql-container {
    /* border radius of the container and for font size*/
    font-size: inherit;
    border-radius: 0 0 10px 10px;
}
.ql-toolbar.ql-snow .ql-picker-label {
    color: inherit !important;
    opacity: 0.76;
}
.ql-snow .ql-picker {
    color: inherit !important;
}
.quill > .ql-container > .ql-editor.ql-blank::before {
    /* for placeholder */
    color: inherit;
}
.ql-snow.ql-toolbar button svg {
    opacity: 0.76;
    color: currentColor;
}
.ql-snow .ql-stroke {
    /* for the border of the editor */
    stroke: currentColor !important;
}
.ql-snow .ql-fill {
    /* for the bg color */
    fill: currentColor !important;
}
.ql-picker-item {
    /* for dropdown */
    color: #444 !important;
}
.posts {

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;


}

.list-disc ul li {
    list-style-type: disc;
}